@{
    ViewBag.Title = "Reset password confirmation";
}

<article class="post">
    <div class="row">
        <div class="col entry-header cf">
            <h1>@ViewBag.Title</h1>
        </div>
        <div class="col post-content offset-2">
            <div>
                <h5>
                    Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                </h5>
            </div>
            </div>
</div>
</article>