@{
    ViewBag.Title = "Home Page";
}

<section id="intro">
    <div id="intro-slider" class="flexslider">
        <ul class="slides">
            <li>
                <div class="row">
                    <div class="col full">
                        <div class="slider-text">
                            <h2>Hello, welcome to <span>AREA51 LIBRARY</span> book manager.</h2>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="col full">
                        <div class="slider-text">
                            <h2>We are commited to always providing the best <span>reading experience</span> with a large collection of <span>high quality books</span></h2>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>