@model BookManagement.Models.Publisher

@{
    ViewBag.Title = "Details";
}

<article class="post">
    <div class="row">
        <div class="col entry-header cf">
            <h1>Details</h1>
        </div>
        <div class="col post-content offset-2">
            <div>
                <h3>Publisher</h3>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        <h4>@Html.DisplayNameFor(model => model.Name)</h4>
                    </dt>

                    <dd>
                        <h4>@Html.DisplayFor(model => model.Name)</h4>
                    </dd>

                </dl>
            </div>
            <br />
            <h5>
                |@Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
                @Html.ActionLink("Back to List", "Index")|
            </h5>
        </div>
    </div>
</article>
